html
  head
    link(href='/css/fonts.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')

  body
    div(id='app-container')

    script.
        var INITIAL = {
            title: '!{title}',
            asGuPopup: !{!!asGuPopup},
            parentUrl: '!{parentUrl}',
            items: !{JSON.stringify(items || []).replace(/<\//g, "<\\/")}
        }

    script(src='https://fb.me/react-0.13.3.min.js')
    script(src='/build/marmottajax.min.js')
    script(src='/build/client.js')
