html
  head
    link(href='/css/style.css', rel='stylesheet')

  body
    //form(method='post', action='/')
        input(name='parentUrl', type='hidden', value=parentUrl)
        input(style='width: 50%;', type='text', name='childUrl')
        input(type='submit')

    div(id='app-container')

    script.
        var FREEP = {
            parentUrl: '!{parentUrl}',
            relatedItems: !{JSON.stringify(items || []).replace(/<\//g, "<\\/")}
        }

    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://fb.me/react-0.13.3.js')
    script(src='https://fb.me/JSXTransformer-0.13.3.js')
    script(src='/js/client.js',  type='text/jsx')