html
  head
    link(href='/css/fonts.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')

  body
    div(id='app-container')

    script.
        var INITIAL = {
            parentUrl: '!{parentUrl}',
            items: !{JSON.stringify(items || []).replace(/<\//g, "<\\/")}
        }

    script(src='https://fb.me/react-0.13.3.min.js')
    script(src='https://fb.me/JSXTransformer-0.13.3.js')
    script(src='/js/marmottajax.min.js', type='text/jsx')
    script(src='/js/client.js', type='text/jsx')
